/* Reset */

* { margin:0;padding:0;border:0;outline:0;text-decoration:none;font-weight:inherit;font-style:inherit;color:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;list-style:none;border-collapse:collapse;border-spacing:0; -webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale; }

/* Font */

@font-face {
    font-family: 'fira_code';
    src: url("../media/fonts/FiraCode-Medium.ttf") format("truetype");   
    font-weight: normal;
    font-style: normal;
}

/* Main */

body { font-family: 'fira_code'; padding:30px; overflow: hidden; -webkit-app-region: drag; transition: background-color 500ms; background-size: cover; background-position: center center; max-height: calc(100% - 60px); }
canvas { display: block;white-space: pre;font-size: 11px;line-height: 10px; text-transform: uppercase; width:300px; opacity: 0;-webkit-app-region: no-drag; transition: opacity 1000ms; /* image-rendering: pixelated; image-rendering: optimizeSpeed; */ }
canvas.ready { opacity: 1; }

/* Theme */

body { background-color:var(--background) !important; }